* {
  box-sizing: border-box;
  font-family: Roboto Slab, Arial, sans-serif;
}

*:before,
*:after {
  box-sizing: border-box;
}

*:focus, button:focus, button {
  outline: none;
}

html,
body {
  height: 100%;
  position: relative;
}

.App {
  text-align: center;
  display: block;
}

/*Center vertically and horizontally*/
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*centering table*/
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}
table.center {
  margin-top: 35px;
  margin-left: auto; 
  margin-right: auto;
}