.App {
  text-align: center;
}

/*centering table*/
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}
table.center {
  margin-top: 35px;
  margin-left: auto; 
  margin-right: auto;
}